<%= @new %>

<%= form_with scope: :friends, url: friends_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :age %><br>
    <%= form.number_field :age %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>